.tweet {
    border: 3px solid #36b4de;
    border-radius: 8px;
    margin: 20px 20%;
    padding: 25px;
    
  }
  
.username,
.date {
    color: #76adf1;
    display: inline-block;
    margin: 0 10px;
  }

p {
    text-align: center;
    padding: 10px px;
}

